
.homeCard {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: center;
    background-color: #2f303a;
}

.imageContainer {
    display: flex;
    align-self: flex-end;
    padding-right: 10%;
}


.textButtonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem
}

.titlePageOne {
    display: flex;
    font-weight: 400;
    line-height: normal;
    font-size: 49px;
    text-align: start;
    margin-bottom: 0;   
    margin-top: 8rem;
}

.textPageOne {
    margin-bottom: 2rem;
}

.circleTop {
    background: #3457b21a;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 7rem;
    left: 8rem;
}

.circleBottomLeft {
    background: #bc3a801a;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.circleBottomRight {
    background: #3457b21a;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: -4rem;
    right: -4rem;
}

.girlImg {
    display: none;

}

@media (min-width: 1024px) {

.homeCard {
    min-height: 100vh;
    min-width: 110vh;
    flex-direction: row;
    justify-content: space-around;
    width: 118vh;
}

.textButtonCard {
    width: 22rem;
    height: 14rem;
}

.titlePageOne {
    margin-bottom: 0;
    margin-top: 0;
}

.girlImg {
    display: flex;
    height: auto;
    min-width: 20rem;
    max-width: 28rem;
    z-index: 10;
}

.circleTop {
    width: 31rem;
    height: 31rem;
    position: absolute;
    top: 13%;
    left: 30%;
}

.circleBottomRight {
    width: 44rem;
    height: 44rem;
    position: absolute;
    bottom: -19rem;
    right: -18rem;
}

.circleBottomLeft {
    width: 31rem;
    height: 31rem;
    position: absolute;
    bottom: 5%;
    left: 6%;
}


}
